In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
person_day = pd.read_csv('avg_per_person_and_day.csv')
dist_ca = pd.read_csv('dist_per_ca.csv')
dist_country = pd.read_csv('dist_per_country.csv')

In [3]:
def drop0(df):
    df = df.drop(['Unnamed: 0'],axis=1)
    return df

In [4]:
person_day = drop0(person_day)
dist_ca = drop0(dist_ca)
dist_country = drop0(dist_country)

In [5]:
dist_country.columns = ['come_from','percentage_Galicia','year','trimester']

In [6]:
dist_ca.columns = ['come_from','percentage_Spain','year','trimester']

In [7]:
dist_ca

           come_from percentage_Spain  year  trimester
0           Alemania             0.92  2022          1
1           Alemania             1.31  2021          4
2           Alemania             2.02  2021          3
3           Alemania             1.02  2021          2
4           Alemania             1.37  2021          1
..               ...              ...   ...        ...
573  Resto del mundo             1.19  2019          1
574  Resto del mundo             2.03  2018          4
575  Resto del mundo             1.51  2018          3
576  Resto del mundo             1.79  2018          2
577  Resto del mundo                2  2018          1

[578 rows x 4 columns]

In [8]:
person_day = person_day[['come_from','year','trimester','avg_person_day_€','avg_person_€']]

In [9]:
def merge(df1, df2, how_to):
    merge = pd.merge(left = df1,
        right = df2,
        how = how_to, 
        left_on = 'come_from',
        right_on= 'come_from')
    merge = merge[(merge['year_x']==merge['year_y'])&(merge['trimester_x']==merge['trimester_y'])]
    merge = merge.drop(['year_y','trimester_y'],axis=1)
    merge
    return merge

In [10]:
merge1 = merge(dist_country,person_day,'inner')
merge1.columns = ['come_from','percentage_Galicia','year','trimester','avg_person_day_€','avg_person_€']
merge0 = merge1[merge1['come_from'].isin(['All'])]
merge1 = merge1[~merge1['come_from'].isin(['All'])]

In [11]:
merge2 = merge(merge1,dist_ca,'left')
merge2['come_from'].value_counts()

Alemania                     17
M�xico                       17
Argentina                    17
Brasil                       17
Canad�                       17
Chile                        17
Colombia                     17
Estados Unidos de Am�rica    17
Resto de Am�rica             17
Andorra                      17
Australia                    17
China                        17
Corea                        17
Emiratos �rabes Unidos       17
Jap�n                        17
Turqu�a                      17
Otros Pa�ses Europeos        17
Suiza                        17
Suecia                       17
Rusia                        17
Ruman�a                      17
Reino Unido                  17
Portugal                     17
Polonia                      17
Pa�ses Bajos                 17
Noruega                      17
Italia                       17
Irlanda                      17
Francia                      17
Finlandia                    17
Dinamarca                    17
B�lgica                      17
Austria                      17
Resto del mundo              17
Name: come_from, dtype: int64

In [12]:
 #cleaning names in come_from column
merge2['come_from'] = merge2['come_from'].map({'Alemania':'Germany','Argentina':'Argentina','Brasil':'Brasil','Chile':'Chile','Colombia':'Colombia','Andorra':'Andorra','Australia':'Australia','China':'China','Corea':'Korea','Rusia':'Russia','Portugal':'Portugal','Polonia':'Polonia','Austria':'Austria','M�xico':'Mexico','Canad�':'Canada','Estados Unidos de Am�rica':'USA','Resto de Am�rica':'Others America','Emiratos �rabes Unidos':'Emirates', 'Jap�n':'Japan','Turqu�a':'Turkey','Otros Pa�ses Europeos':'Others Europe','Suiza':'Switzerland','Suecia':'Sweden','Ruman�a':'Romania', 'Reino Unido':'UK','Pa�ses Bajos':'Netherlands','Noruega':'Norway','Italia':'Italy','Irlanda':'Ireland','Francia':'France','Finlandia':'Finland','Dinamarca':'Denmark','B�lgica':'Belgium','Resto del mundo':'Other'})
merge2['come_from'].value_counts(dropna=False)

Germany           17
Mexico            17
Argentina         17
Brasil            17
Canada            17
Chile             17
Colombia          17
USA               17
Others America    17
Andorra           17
Australia         17
China             17
Korea             17
Emirates          17
Japan             17
Turkey            17
Others Europe     17
Switzerland       17
Sweden            17
Russia            17
Romania           17
UK                17
Portugal          17
Polonia           17
Netherlands       17
Norway            17
Italy             17
Ireland           17
France            17
Finland           17
Denmark           17
Belgium           17
Austria           17
Other             17
Name: come_from, dtype: int64

In [13]:
merge3 = pd.concat([merge0,merge2],axis=0)
merge3

,come_from,percentage_Galicia,year,trimester,avg_person_day_€,avg_person_€,year_x,trimester_x,percentage_Spain
0,All,100,2022.0,1.0,62.89,231.65,NaN,NaN,NaN
18,All,100,2021.0,4.0,60.52,210.19,NaN,NaN,NaN
36,All,100,2021.0,3.0,62.68,192.7,NaN,NaN,NaN
54,All,100,2021.0,2.0,74.95,170.22,NaN,NaN,NaN
72,All,100,2021.0,1.0,52.71,146.59,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9753,Other,1.98,NaN,NaN,123.33,318.48,2019.0,1.0,1.19
9771,Other,2.4,NaN,NaN,130.81,423.65,2018.0,4.0,2.03
9789,Other,1.64,NaN,NaN,101.37,430.98,2018.0,3.0,1.51
9807,Other,1.87,NaN,NaN,110.11,358.48,2018.0,2.0,1.79
9825,Other,1.93,NaN,NaN,147.96,528.21,2018.0,1.0,2

In [14]:
merge0

,come_from,percentage_Galicia,year,trimester,avg_person_day_€,avg_person_€
0,All,100,2022,1,62.89,231.65
18,All,100,2021,4,60.52,210.19
36,All,100,2021,3,62.68,192.7
54,All,100,2021,2,74.95,170.22
72,All,100,2021,1,52.71,146.59
90,All,100,2020,4,61.61,148.16
108,All,100,2020,3,54.27,151.12
126,All,.,2020,2,.,.
144,All,100,2020,1,66.1,229.08
162,All,100,2019,4,73.5,270.91
180,All,100,2019,3,70.77,263.96
198,All,100,2019,2,81.76,255.24
216,All,100,2019,1,62.23,160.63
234,All,100,2018,4,71.86,225.64
252,All,100,2018,3,64.88,274.46
270,All,100,2018,2,75.19,248.21
288,All,100,2018,1,73.06,262.17

In [15]:
merge2.columns

Index(['come_from', 'percentage_Galicia', 'year_x', 'trimester_x',
       'avg_person_day_€', 'avg_person_€', 'percentage_Spain'],
      dtype='object')

In [16]:
merge2[merge2['percentage_Spain'].isin(['.'])]

,come_from,percentage_Galicia,year_x,trimester_x,avg_person_day_€,avg_person_€,percentage_Spain
126,Germany,.,2020,2,.,.,.
415,Andorra,.,2020,2,.,.,.
704,Austria,.,2020,2,.,.,.
993,Belgium,.,2020,2,.,.,.
1282,Denmark,.,2020,2,.,.,.
1571,Finland,.,2020,2,.,.,.
1860,France,.,2020,2,.,.,.
2149,Ireland,.,2020,2,.,.,.
2438,Italy,.,2020,2,.,.,.
2727,Norway,.,2020,2,.,.,.
3016,Netherlands,.,2020,2,.,.,.
3305,Polonia,.,2020,2,.,.,.
3594,Portugal,.,2020,2,.,.,.
3883,UK,.,2020,2,.,.,.
4172,Romania,.,2020,2,.,.,.
4461,Russia,.,2020,2,.,.,.
4750,Sweden,.,2020,2,.,.,.
5039,Switzerland,.,2020,2,.,.,.
5328,Others Europe,.,2020,2,.,.,.
5617,Argentina,.,2020,2,.,.,.
5906,Brasil,.,2020,2,.,.,.
6195,Canada,.,2020,2,.,.,.
6484,Chile,.,2020,2,.,.,.
6773,Colombia,.,2020,2,.,.,.
7062,USA,.,2020,2,.,.,.
7351,Mexico,.,2020,2,.,.,.
7640,Others America,.,2020,2,.,.,.
7929,Australia,.,2020,2,.,.,.
8218,China,.,2020,2,.,.,.
8507,Korea,.,2020,2,.,.,.
8796,Emirates,.,2020,2,.,.,.
9085,Japan,.,2020,2,.,.,.
9374,Turkey,.,2020,2,.,.,.
9663,Other,.,2020,2,.,.,.

In [17]:
# the . in €_Galicia , €_Spain, avg_person_day_€ and avg_person_€ are from the 2º trimester of 2020 so I'm going to fill it with 0
merge2['percentage_Galicia'] = np.where(merge2['percentage_Galicia'].isin(['.']),0,merge2['percentage_Galicia'])
merge2['percentage_Spain'] = np.where(merge2['percentage_Spain'].isin(['.']),0,merge2['percentage_Spain'])
merge2['avg_person_day_€'] = np.where(merge2['avg_person_day_€'].isin(['.']),0,merge2['avg_person_day_€'])
merge2['avg_person_€'] = np.where(merge2['avg_person_€'].isin(['.']),0,merge2['avg_person_€'])

In [18]:
# now converting these columns into numbers
merge2['percentage_Galicia'] = merge2['percentage_Galicia'].astype(np.number)
merge2['percentage_Spain'] = merge2['percentage_Spain'].astype(np.number)
merge2['avg_person_day_€'] = merge2['avg_person_day_€'].astype(np.number)
merge2['avg_person_€'] = merge2['avg_person_€'].astype(np.number)

In [21]:
merge2.columns = ['come_from','percentage_Galicia','year','trimester','avg_person_day','avg_person','percentage_Spain']
merge2 = merge2[['come_from','year','trimester','avg_person_day','avg_person','percentage_Galicia','percentage_Spain']]

In [22]:
merge2.to_csv('spent_per_country.csv', index=False)

In [23]:
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [24]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/galicia_tourism'
engine = create_engine(connection_string)

merge2.to_sql('spent_country', con = engine, if_exists = 'replace', index = False )

578